<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ansys - Service Partner Portal</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/ansys_site.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/DataTables/DataTables-1.11.2/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" type="text/css" href="/DataTables/Buttons-2.0.0/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/DataTables/Buttons-2.0.0/css/buttons.bootstrap5.min.css"/>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="/DataTables/Buttons-2.0.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/DataTables/Buttons-2.0.0/js/buttons.bootstrap5.min.js"></script>

    <style>
        .dataTables_filter {
            float: left !important;
        }
    </style>

</head>
<body style="background-color: #000000;">

<div class="container-fluid mt-5 mb-5 p-3 rounded rounded-3" style="background-color: #ffffff; max-width: 90%;">

    <div class="row">
        <img src="/img/R.png" style="height: 2em; width: auto;" />
        <h1 class="w-100">Service Partner Dashboard - {{ spname }}</h1>
    </div>

    {% if projects is not empty %}
        <div class="row">
            <a href="/spbppuploadform?c={{ b64 }}" class="btn btn-primary btn-sm w-25" onclick="showLoadingScreen(this)">Upload project plan</a>
        </div>
    {% else %}
        <div class="row">
            <div class="alert alert-warning">
                There are currently no projects assigned to {{ spname }}.
            </div>
        </div>
    {% endif %}

    <h2 class="mt-1">Projects</h2>

    <table class="table table-striped w-100" id="projects">
        <thead>
        <tr>
            <th>Project ID</th>
            <th>Project name</th>
            <th>PO N°</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.internalId }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.ponumbers }}</td>
                <td>
                    {% if project.ppbid is not empty %}
                        <a href="/spppview/{{ project.id }}?c={{ b64 }}" class="btn btn-primary" style="padding-top: .25rem; padding-bottom: .25rem; font-size: .75rem;" onclick="showLoadingScreen(this)">View project plan</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div id="loading-overlay">
    <div id="loader-container" class="d-flex justify-content-center">
        <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status"></div>
    </div>
</div>

<script>

    function showLoadingScreen(eventsender)
    {
        document.getElementById('loading-overlay').style.display = "block";
    }

    window.onunload = function() {
        document.getElementById('loading-overlay').style.display = "none";
    }

    $(document).ready(function() {

        $('#projects').DataTable( {
            "scrollX": true,
            order: [],
            paging: true,
            dom: 'Bfrtip',
            buttons: []
        } );

    } );

</script>

</body>
</html>
